ul.hyphen-list li:before {
  content: "-";
  position:relative;
  left: -5px;
}

ul.hyphen-list li {
  text-indent: -5px;
  list-style-type: none;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
}

.version-info {
  margin-left: 35px;
}

.download-button {
  background-color: #bbbbbb;
  margin: 20px 10px 10px 10px;
  padding: 25px;
  border-radius: 5px;
}

.download-button:hover {
  background-color: #dddddd;
}

.download-link:hover {
  text-decoration: none;
}

.download-button p {
  font-size: 12px;
}

.more-banner {
  background-color: #bada55;
}