body {
  background-color: #070b1d;
}

ul.hyphen-list {
  padding: 0;
}

ul.hyphen-list li:before {
  content: "-";
  position: relative;
  left: -5px;
}

ul.hyphen-list li {
  text-indent: -5px;
  list-style-type: none;
}

.header {
  background-color: #415096;
  color: #ffffff;
  font-family: 'Alegreya Sans', sans-serif;
  font-variant: small-caps;
}

.header .container {
  padding-bottom: 8px;
}

.jumbotron {
  padding-top: 35px;
  padding-bottom: 50px;
  background-color: #25315b;
}

.version-info {
  margin-top: 25px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Alegreya Sans', sans-serif;
  font-variant: small-caps;
  background-color: #324070;
}

.version-info .darker {
  color: #8eaef4;
}

.version-info .darkest {
  color: #678ad7;
}

.version-info .prerelease-tag {
  color: #e6633b;
}

@media (min-width: 441px) {
  .version-info .lighter {
    font-size: 32px;
    padding-bottom: 11px;
    margin-bottom: 15px;
    white-space: nowrap;
  }

  .version-info .darker {
    text-transform: uppercase;
    padding-left: 25px;
    padding-top: 10px;
    text-indent: 15px;
    font-weight: bold;
    white-space: nowrap;
  }

  .version-info .darkest {
    padding-top: 15px;
    padding-right: 15px;
    margin-bottom: -15px;
    white-space: nowrap;
  }

  .version-info .prerelease-tag {
    padding-left: 15px;
    white-space: nowrap;
  }
}

@media (max-width: 440px) {
  .version-info .lighter {
    font-size: 22px;
    padding-bottom: 11px;
    margin-bottom: 15px;
    white-space: nowrap;
  }

  .version-info .darker {
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 10px;
    white-space: nowrap;
  }

  .version-info .darkest .pull-right {
    padding-top: 15px;
    padding-right: 15px;
    margin-bottom: -15px;
    white-space: nowrap;
    float: left;
    text-align: left;
  }

  .version-info .prerelease-tag {
    white-space: nowrap;
  }
}

.version-info ul {
  font-family: 'Tahoma', sans-serif;
  font-variant: normal;
}

.version-info .container {
  border-top-style: solid;
  border-top-color: #3b4a7e;
  margin-top: 15px;
  padding-top: 21px;
}

.download-button {
    background-color: #bbbbbb;
    color: #ffffff;
    border-radius: 5px;
    padding: 25px;
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}

@media (max-width: 800px) {
  .download-button {
    margin: 15px 0px 5px 0px;
  }
}

@media (min-width: 801px) {
  .download-button {
    margin: 20px 10px 10px 10px;
  }
}

.download-button:hover {
  background-color: #dddddd;
}

.download-link:hover {
  text-decoration: none;
}

.download-button p {
  font-size: 12px;
  font-weight: bold;
}

.more-banner {
  background-color: #324070;
  color: #c6cef5;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 17px;
  margin-bottom: 40px;
}

.windows-button {
  background-color: #acd640;
}

.windows-button:hover {
  background-color: #cae673;
}

.osx-button {
  background-color: #55a5e7;
}

.osx-button:hover {
  background-color: #87c5f1;
}

.linux-button {
  background-color: #e6983b;
}

.linux-button:hover {
  background-color: #f0bc6e;
}

.unavailable, .unavailable:hover {
  background-color: #676767;
  color: #adadad;
}

.old-version {
  border-radius: 5px;
  background-color: #292f4a;
  color: #6b81e6;
  padding: 15px 20px 13px 20px;
  margin-bottom: 15px;
  transition: background-color .25s ease-in-out;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
}

.old-version:hover {
  background-color: #434c75;
}

.old-version .lighter {
  font-weight: bold;
  color: #9faef4;
  white-space: nowrap;
}

.old-version .darker {
  color: #6b81e6;
  padding-left: 15px;
  white-space: nowrap;
}

.old-version .prerelease-tag {
  color: #e6633b;
  padding-left: 15px;
  white-space: nowrap;
}

.smaller {
  font-size: 12px;
}