<div class="jumbotron" style="margin-bottom: 0px;">

  <div class="container">
    
    <div class="row">

      <div class="col-sm-4">
        {% if post.windowslink != 'none' %}
          <a href="{{ post.windowslink }}" class="download-link">
            <div class="download-button windows-button">
              <h2>Windows</h2>
              <p>{{ post.windowssize }} MB</p>
            </div>
          </a>
        {% else %}
          <div class="download-button unavailable">
            <h2>Windows</h2>
            <p>No Download Available</p>
          </div>
        {% endif %}
      </div>

      <div class="col-sm-4">
        {% if post.osxlink != 'none' %}
          <a href="{{ post.osxlink }}" class="download-link">
            <div class="download-button osx-button">
              <h2>OSX</h2>
              <p>{{ post.osxsize }} MB</p>
            </div>
          </a>
        {% else %}
          <div class="download-button unavailable">
            <h2>OSX</h2>
            <p>No Download Available</p>
          </div>
        {% endif %}
      </div>

      <div class="col-sm-4">
        {% if post.linuxlink != 'none' %}
          <a href="{{ post.linuxlink }}" class="download-link">
            <div class="download-button linux-button">
              <h2>Linux</h2>
              <p>{{ post.linuxsize }} MB</p>
            </div>
          </a>
        {% else %}
          <div class="download-button unavailable">
            <h2>Linux</h2>
            <p>No Download Available</p>
          </div>
        {% endif %}
      </div>

    </div>
    
    <div class="version-info">
      <span class="darkest pull-right">{{ post.date | date_to_string }}</span>
	  <span class="lighter" id="versionTitleLarge"><a href="{{ post.url }}">{{ post.title }}</a></span>
	  <span class="darker">for {{ post.gameversion }}</span>
	  {% if post.prerelease == true %}
	  	<span class="prerelease-tag">Pre-release</span>
	  {% endif %}
      <div class="container">{{ post.content }}</div>
    </div>

    {% if post.prerelease == true %}
      <div class="version-info">
        <div class="pre-release-warning">
          This is a pre-release version of the mod manager. It is not considered stable and will most likely contain bugs.
          It is entirely possible that this will break save files, crash frequently, and generally make a mess of your game.
          <strong>This version is for testing only! Do not use it if you care about your Starbound characters/worlds.</strong>
        </div>
      </div>
    {% endif %}

  </div>
  
</div>