<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ site.baseurl }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>{{ page.title }}</title>
    </head>

    <body>

      <div class="container">

        <div class="header">
          <ul class="nav nav-pills pull-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Nav 2</a></li>
          </ul>
          <h3 class="text-muted">{{ site.name }}</h3>
        </div>

        {{ content }}

      </div>

      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="{{ site.baseurl }}/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>
