.root {
	-fx-background-color: #e0e0e0;
}

.installed-mod-fill {
	-fx-background-color: #a6ec96;
}

.not-installed-mod-fill {
	-fx-background-color: #d4d4d4;
}

.conflicted-mod-fill {
	-fx-background-color: #e7ec96;
}

.outdated-mod-fill {
	-fx-background-color: #ec9696;
}

.installed-mod-stroke {
	-fx-fill: #81c772;
}

.not-installed-mod-stroke {
	-fx-fill: #bababa;
}

.conflicted-mod-stroke {
	-fx-fill: #d2ba6d;
}

.outdated-mod-stroke {
	-fx-fill: #c77272;
}

.installed-font-color {
	-fx-fill: #318f1b;
}

.not-installed-font-color {
	-fx-fill: #696969;
}

.conflicted-font-color {
	-fx-fill: #ac7e10;
}

.outdated-font-color {
	-fx-fill: #c14040;
}

.modname {
	-fx-font-family: "Verdana";
	-fx-font-size: 16px;
	-fx-font-smoothing-type: lcd;
}

.modauthor {
	-fx-font-family: "Verdana";
	-fx-font-size: 12px;
	-fx-font-smoothing-type: lcd;
}

.text {
	-fx-font-smoothing-type: lcd;
}

#modInformation {
	-fx-font-smoothing-type: lcd;
	-fx-font-family: "Verdana";
	-fx-font-size: 12px;
}

.modversion {
	-fx-font-family: "Verdana";
	-fx-font-size: 12px;
	-fx-font-smoothing-type: lcd;
}

.selected {
	-fx-font-weight: bold;
}

#modlist {
    -fx-background-color: #f4f4f4;
}

#scrollpane {
    -fx-background-color: #b6b6b6;
}

.scroll-bar .track-background {
	-fx-background-color: transparent;
	-fx-border-color: #b6b6b6;
}

.scroll-bar:vertical .track {
	-fx-background-insets: 1;
    -fx-background-color: #ebebeb;
	-fx-background-radius: 0px;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: #4e4e4e;
	-fx-background-insets: 2 3 2 3;
	-fx-background-radius: 0px;
}

.scroll-bar:vertical .increment-button {
    -fx-background-color: #858585;
	-fx-background-insets: 0 3 3 3;
	-fx-padding: 4px 5px 4px 4px;
}

.scroll-bar:vertical .decrement-button {
    -fx-background-color: #858585;
	-fx-background-insets: 3 3 0 3;
	-fx-padding: 4px 5px 4px 4px;
}

.scroll-bar:vertical .increment-arrow , .scroll-bar:vertical .decrement-arrow {
	-fx-opacity: 0;
}